<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Document</title>
</head>
<body>
  <nav>
  <header>
    {% block header %}
    
<a href="{% url 'home' %}">
  <h1>Imager</h1>
</a>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
  
  </ul>
</nav>
{% endblock header %}


  </header>
  <main class="main-header">

    {% block content %}
    <p>Hello Homepage</p>
    {% endblock content %}

  </main>
  <nav>
</body>
</html>