<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
  <title>Document</title>
</head>
<body>
  <nav>
  <header>
    {% block header %}
    
<a href="{% url 'home' %}">
  <h1>Imager</h1>
</a>
<nav>
  <ul>
    <li><a href="{% url "home" %}">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="">Profile</a></li>
    <li><a href="">Products</a></li>
    <li><a href="{% url "auth_logout" %}">Logout</a></li>
    {% else %}
    <li><a href="{% url "registration_register" %}">Signup</a></li>
    <li><a href="{% url "auth_login" %}">Signin</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock header %}
<div class="banner">
    {% if user.is_authenticated %}
    <h3>Welcome to the site {{ user.username }}</h3>
    {% endif %}
    {% if message %}
    <h3> {{ message }}</h3>
    {% endif %}
</div>

  </header>
  <main class="main-header">

    {% block content %}
    <p>Hello Homepage</p>
    {% endblock content %}

  </main>
  <nav>
</body>
</html>