{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<ul>
{% for album in albums %}
<li>
    {% thumbnail album.cover.image "250x250" as im %}
        <a href="{{album.link}}"><img src="{{ im.url }}"></a>
    {% endthumbnail %}
    </li>
{% endfor %}
</ul>
<ul>
    {% for photo in photos %}
    <li>
        {% thumbnail photo.thumb.image "250x250" as im %}
        <a href="{{photo.link}}"><img src="{{ im.url }}"></a>
        {% endthumbnail %}
        </li>
    {% endfor %}
    </ul>
    
{% endblock content %}

