{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">




{% endblock meta %}
{% block content %}

{% thumbnail photo.thumb.image "200x100" as im %}
        <a href="{{photo.thumb.image.url}}" onclick="lightboxPopover" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text"><img src="{{ im.url }}" class="img-fluid"></a>
        {% endthumbnail %}
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script>function lightboxPopover(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
}</script> 
{% endblock content %}