
.imager-background {
    background: /*url('https://raw.githubusercontent.com/codefellows/seattle-201d29/master/06-JS_objects_and_the_DOM/lab/assets/salmon.png') */
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100%;
    -o-background-size: cover;
   }

   p {
       background-color: antiquewhite;
       display: inline;
       box-shadow: 0 0 0 10px;
       box-decoration-break: clone;
       line-height: 2.2;
       
   }
   h1 {
       text-emphasis-color: white;
       background-color: antiquewhite;
   }


