[Unit]
Description=django imager service
After=network.target

[Service]
Environment="SECRET_KEY={{ SECRET_KEY }}"
Environment="DB_NAME={{ DB_NAME }}"
Environment="DB_USER={{ DB_USER }}"
Environment="DB_PASSWORD={{ DB_PASSWORD }}"
Environment="DB_HOST={{ DB_HOST }}"
Environment="ALLOWED_HOSTS={{ ALLOWED_HOSTS }}"

Environment="EMAIL_HOST={{ EMAIL_HOST }}"
Environment="EMAIL_PORT={{ EMAIL_PORT }}"
Environment="EMAIL_HOST_USER={{ EMAIL_HOST_USER }}"
Environment="EMAIL_HOST_PASSWORD={{ EMAIL_HOST_PASSWORD }}"
Environment="EMAIL_USE_TLS=ON"

User=ubuntu
Group=www-data

WorkingDirectory=/home/ubuntu/django-imager/imagersite
ExecStart=/home/ubuntu/.local/bin/gunicorn -w 3 -b 127.0.0.1:8000 imagersite.wsgi

[Install]
WantedBy=multi-user.target
