{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<ul>
{% for album in albums %}
<li>
    {% thumbnail album.cover.image "200x100" as im %}
        <a href="https://www.w3schools.com"><img src="{{ im.url }}"></a>
    {% endthumbnail %}
    </li>
{% endfor %}
</ul>
<ul>
    {% for item in items %}
    <li>
        {% thumbnail item.image "200x100" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
        </li>
    {% endfor %}
    </ul>
    
{% endblock content %}

